@mixin box ($size, $background-color) {
    width: $size;
    height: $size / 2;
    background-color: $background-color;
}


.box {
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
    
    @include box (200px, #bada55)
}